@page "/faq"

<h2>Frequently Asked Questions</h2>

<h5>- How do I get Started?</h5>
<p style = "text-indent : 5em;">Directions for gettingg started are found at: <a href="/getting_started">Getting Started</a></p>
@code {

}
