@page "/faq"

<h2>Frequently Asked Questions</h2>
<dl>
            <dt>How do I get started?</dt>
            <dd>
                <ul class="text-indent">
                    Directions for getting started are found at: <a href="/getting_started">Getting Started</a>
                </ul>
            </dd>

            <dt>What is currently being worked on?</dt>
            <dd>
                <ul class="text-indent">
                    Currently, the focus is on the Discord portion of the game. Adding interaction events, community collaborative events, and getting feedback and suggestions on gameplay mechanics. In the future I will add a roadmap and other things to help visualize what is in the works.
                </ul>
            </dd>

            <dt>What happens if the game bots managing the game and interactions are offline?</dt>
            <dd>
                <ul class="text-indent">
                    <li>If you don't see the game bots online, it is possible they are down for maintenance.</li>
                    <li>Alternatively, while the game is being developed, I am self hosting the game bots myself and it is possible that my power or internet went out briefly as I don't have redundant connections or a generator to run my equipment for very long in a power outage. This will change in the future when the project leaves alpha for beta and I transition from a development environment to a hosted production environment.</li>
                </ul>
            </dd>

            <dt>Will there be a reset when the game moves from alpha to beta, beta to release, or when moving from a development environment to a hosted production environment?</dt>
            <dd>
                <ul class="text-indent">
                    <li>While it may change, the current plan is to develop in a way that all player progress and data will be preserved when transitioning between these phases.</li>
                </ul>
            </dd>
</dl>
@code {

}
