@page "/faq"

<h2>Frequently Asked Questions</h2>
<dl>
            <dt>How do I get started?</dt>
            <dd>
                <ul class="text-indent">
                    Directions for getting started are found at: <a href="/getting_started">Getting Started</a>
                </ul>
            </dd>

            <dt>What is currently being worked on?</dt>
            <dd>
                <ul class="text-indent">
                    I recently slimmed down the idea significantly and decided to focus on the Discord text-based RPG 
                    portion of the game first. The goal is to get a solid foundation of gameplay mechanics, player 
                    interaction, and community building before potentially expanding into other areas.
                </ul>
            </dd>

            <dt>What happens if the game bots managing the game and interactions are offline?</dt>
            <dd>
                <ul class="text-indent">
                    <li>If you don't see the game bots online, it is possible they are down for maintenance.</li>
                    <li>Alternatively, while the game is in early development, I am self hosting the game bots myself 
                    and it is possible that my power or internet went out briefly as I don't have redundant connections 
                    or a generator to run my equipment for very long in a power outage. This will change in the future 
                    when the game is able to support a cloud hosting environment.</li>
                </ul>
            </dd>

            <dt>Will there be a reset when the game moves from alpha to beta, beta to release, or when moving from a development environment to a hosted production environment?</dt>
            <dd>
                <ul class="text-indent">
                    <li>Currently there is no reset. However, I eventually intend to implement world disasters and 
                    other events that could pose significant world destruction. There are no plans for full resets, 
                    just major events that could reshape the world and require tons of resource usage. Un-lockable 
                    things like characters, pets, and other progress will remain intact. </li>
                </ul>
            </dd>
</dl>
@code {

}
