@page "/getting_started"
<h1>Getting Started:</h1>
<h3>With Discord: </h3>
<p>
    Join the RPGame.Live Discord Server: <a href="/socials/discord">Join us here!</a>
</p>
<!--h3>With Guilded:</h3-->
<!--h3>With Twitch:</h3-->
<!--h3>With Youtube Gaming:</h3-->
<!--h3>With Facebook Live:</h3-->

@code {

}
