@page "/getting_started"
<h2>Getting Started: </h2
<!--h3>Terms of Service: </!h3-->
<h3><a href="/privacy_policy">Privacy Policy</a></h3>
<h4>With Discord: </h4>
<p style = "text-indent : 1em;">
    1.) Join the RPGame.Live Discord Server: <a href="/socials/discord">Join us here!</a>
</p>
<p style = "text-indent : 1em;">
    2.) After acceptingg the Discord Rules, join the #adventurer-registration channel 
    and use slash command /registerforadventuring which will register you as an Adventurer,
    creating your inventory, and add an Adventurer Registration item to your inventory.
</p>
<p style = "text-indent : 1em;">
    3.) After registration is complete you will have access to the rest of the Discord version
    which is still in development.
</p>

<h4>Discord Mini-FAQ</h4>
<p style = "text-indent : 1em;">
    - Roleplay Game Live is still in development with new layers being added over time.
</p>
<p style = "text-indent : 1em;">
    - There is a #bug-reports forum within the discord. 
</p>
<!--h3>With Guilded:</h3-->
<!--h3>With Twitch:</h3-->
<!--h3>With Youtube Gaming:</h3-->
<!--h3>With Facebook Live:</h3-->

@code {

}
