@page "/getting_started"
<h2>Getting Started: </h2
<!--h3>Terms of Service: </!h3-->
<h3><a href="/privacy_policy">Privacy Policy</a></h3>
<h4>With Discord: </h4>
<h5 style="text-indent:1em;">Registering as an adventurer (preparing to participate in quests and various interactions):</h5>
<p style = "text-indent : 2em;">
    1. Join the RPGame.Live Discord Server: <a href="/socials/discord">Join us here!</a>
</p>
<p style = "text-indent : 2em;">
    2. After acceptingg the Discord Rules, join the #adventurer-registration channel 
    <!--and use slash command /registerforadventuring which will register you as an Adventurer,
    creating your inventory, and add an Adventurer Registration item to your inventory.
    -->
</p>
<p style = "text-indent : 2em;">
    3. In the <a href="https://discord.com/channels/897231599446425610/1048453854800379955">adveturer-registry channel</a> use the Slash Command /registerforadventuring - this will register you as an Adventurer, 
    and create your inventory for use within the rest of the game.
</p>
<p style = "text-indent : 2em;">
    4. After registration is complete you will have access to the rest of the Discord version
    which is still in development.
</p>
<h5 style="text-indent:1em;">Participating in quests:</h5>
<p style="text-indent:2em;">
    1. In the <a href="https://discord.com/channels/897231599446425610/1012654486830989342">questing-alpha channel</a> use the Slash Command /joindailyquests. This will put in the daily quest roster along with all of the various timed quests for that period.
</p>
<p style = "text-indent : 2em;">
    2. After joining the daily quest, you will be automatically put into each shorter timed quest as you interact within the discord up until the daily quest completes.
        This means that you will be placed within various quests so long as you register for the daily quest.
</p>
<h5 style ="text-indent:1em;">Participating in Random Fights:</h5>
<p style="text-indent:2em;">
    1. As people interact within the discord text channels, there is a chance that the interaction will spawn an attack by various monsters and other entities. These battle spawns will last approximately five minutes.
</p>
<p style="text-indent:2em;">
    2. During the five minutes (timeframe may change) of a Random Fight Spawn, players who are available can use the slash command (/joinfight) in order to participate in the battle.
</p>
<p style="text-indent:2em;">
    3. After the Random Fight Spawn has concluded, if the players are successful, players will be rewarded the spoils of the battle.
</p>

<h4>Discord Mini-FAQ</h4>
<p style = "text-indent : 1em;">
    - Roleplay Game Live is still in development with new layers being added over time.
</p>
<p style = "text-indent : 1em;">
    - There is a #bug-reports forum within the discord. 
</p>
<h4>Game Bots Offline</h4>
<p style = "text-indent : 1em;">
    - If you don't see the game bots online, it is possible they are down for maintenance. 
    Alternatively, while the game is being developed, I am self hosting the game bots myself 
    and it is possible that my power or internet went out briefly as I don't have redundant 
    connections or a generator to run my equipment for very long in a power outage. 
    This will change in the future when the project leaves alpha for beta and I transition 
    from a development environment to a hosted production environment.
</p>

<!--h3>With Guilded:</h3-->
<!--h3>With Twitch:</h3-->
<!--h3>With Youtube Gaming:</h3-->
<!--h3>With Facebook Live:</h3-->

@code {

}
