
@page "/getting_started"

<div class="row">
    <div class="col-md-8">
        <h2>Getting Started:</h2>
        <h3><a href="/privacy_policy">Privacy Policy</a></h3>
        <h4>With Discord:</h4>
        <dl>
            <dt>Registering as an adventurer (preparing to participate in quests and various interactions):</dt>
            <dd>
                <ol class="text-indent-2">
                    <li>Join the RPGame.Live Discord Server: <a href="https://discord.com/invite/eqBMzVvpEE">Join us here!</a></li>
                    <li>After accepting the Discord Rules, join the #adventurer-registration channel.</li>
                    <li>In the 
                    <a href="https://discord.com/channels/897231599446425610/1414682303866601534">
                        adventurer-registration channel</a> use the Slash Command <b>/registerasadventurer</b> 
                        - this will register you as an Adventurer and create your inventory for use within the rest of 
                        the game.</li>
                    <li>After registration is complete, you will have access to the rest of the Discord version which 
                    is still in development.</li>
                    <li>As people interact within the discord, different events will spawn and you can participate in 
                    them. Events will spawn in <a href="https://discord.com/channels/897231599446425610/1434034643992055818">#game-events</a></li>
                    <li>Participating in events will earn you rewards, items, and other various things.</li>
                    <li>Enjoy your adventure!</li>
                </ol>
            </dd>
        </dl>
        
    </div>
</div>

@code {}
