
@page "/getting_started"

<div class="row">
    <div class="col-md-8">
        <h2>Getting Started:</h2>
        <h3><a href="/privacy_policy">Privacy Policy</a></h3>
        <h4>With Discord:</h4>
        <dl>
            <dt>Registering as an adventurer (preparing to participate in quests and various interactions):</dt>
            <dd>
                <ol class="text-indent-2">
                    <li>Join the RPGame.Live Discord Server: <a href="https://discord.com/invite/eqBMzVvpEE">Join us here!</a></li>
                    <li>After accepting the Discord Rules, join the #adventurer-registration channel.</li>
                    <li>In the 
                    <a href="https://discord.com/channels/897231599446425610/1414682303866601534">
                        adventurer-registration channel</a> use the Slash Command <b>/registerasadventurer</b> 
                        - this will register you as an Adventurer and create your inventory for use within the rest of 
                        the game.</li>
                    <li>After registration is complete, you will have access to the rest of the Discord version which 
                    is still in development.</li>
                    <li>As people interact within the discord, different events will spawn and you can participate in 
                    them. Events will spawn in <a href="https://discord.com/channels/897231599446425610/1434034643992055818">#game-events</a></li>
                    <li>Participating in events will earn you rewards, items, and other various things.</li>
                    <li>Enjoy your adventure!</li>
                </ol>
            </dd>
        </dl>
        <!--
        <h5 class="text-indent">Participating in quests:</h5>
        <ol class="text-indent-2">
            <li>In the <a href="https://discord.com/channels/897231599446425610/1012654486830989342">questing-alpha channel</a> use the Slash Command <b>/joindailyquests</b>. This will put you in the daily quest roster and all various timed quests for that period.</li>
            <li>After joining the daily quest, you will be automatically put into each shorter timed quest as you interact within the discord up until the daily quest completes.</li>
            <li>Daily quests get cleared approximately five minutes into a new day. (Currently 00:05 || 12:05AM EST)</li>
        </ol>
        <h5 class="text-indent">Participating in Random Fights:</h5>
        <ol class="text-indent-2">
            <li>As people interact within the discord text channels, there is a chance that an interaction will spawn an attack by various monsters and other entities. These battle spawns will last approximately five minutes.</li>
            <li>During the five minutes (timeframe may change) of a Random Fight Spawn, players can use the Slash Command <b>/joinfight</b> to participate in the battle.</li>
            <li>After the Random Fight Spawn has concluded, if the players are successful, players will be rewarded the spoils of the battle.</li>
        </ol>
        -->
        <dl>
            <dt>Discord Mini-FAQ</dt>
            <dd>
                <ul class="text-indent">
                    <li>Roleplay Game Live is still in development with new layers being added over time.</li>
                    <li>There is a #bug-reports forum within the discord.</li>
                    <li>There is a #game-idea-suggestions forum within the discord.</li>
                    <li>There is a #questions forum within the discord.</li>
                </ul>
            </dd>
            <dt>Game Bots Offline</dt>
            <dd>
                <ul class="text-indent">
                    <li>If you don't see the game bots online, it is possible they are down for maintenance.</li>
                    <li>Alternatively, while the game is being developed, I am self hosting the game bots myself and it is possible that my power or internet went out briefly as I don't have redundant connections or a generator to run my equipment for very long in a power outage. 
                        This will change in the future when the project leaves alpha for beta and I transition from a development environment to a hosted production environment.</li>
                </ul>
            </dd>
            <dt>Will there be a reset when the game moves from alpha to beta, beta to release, or when moving from a development environment to a hosted production environment?</dt>
            <dd>
                <ul class="text-indent">
                    <li>While it may change, the current plan is to develop in a way that all player progress and data will be preserved when transitioning between these phases.</li>
                </ul>
            </dd>
        </dl>
    </div>
</div>

@code {}
