@page "/"

<h1>Welcome to Roleplay Game Live!</h1>

<h3>RPGame Live is multi-part real-time-esque RPG with two main parts being developed, Part-Discord and Part-Streamed (currently Twitch).</h3>

<div class="row">
    <div class="col-md-6">
        <h5>Part-Discord (Text-Based) is a text interactive system that allows questing, crafting, various explorations and interactivity between players. </h5>
        <p>
            Players will have the ability to group up, join each other's quests which in turn help with success and provide 
            a chance for more and better rewards upon quest completion. New features will be added over time like settlement 
            building and organizations. Players will eventualy be able to pick a region to make a settlement in along with 
            other players and pool some of their resources together to develop the settlement to grow from a small camp to a 
            village, town, or even a city.
        </p>
        <h5>Part-Twitch (Streamed-Visual) is a visual representation of activities in the game.</h5>
        <p>
            Among the top of the activities available will be Boss Fights with more options to come at a later point. 
            These activities will have a visual representation available where players can join and fight, gather, or craft 
            alongside a host, a streamer, who starts these activities and manages the game itself. The gameplay is being 
            developed as an idle JRPG Battle Simulation whereas a host and their roster will be pit against a boss foe to have 
            the scene play out visually. There maybe be interactive bits but for the most part it is designed in a way that allows 
            a streamer to be more interactive with chat while watching the fight play out.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Very early proof of concept build: <br/>
            <img src="images/EarlyMonogamePOC.png" height="100%" width="100%"/>
        </p>
    </div>
</div>

