@page "/"

<div class="row">
    <div class="col-md-8">
       <h1>Welcome to Roleplay Game Live!</h1>
        <h4>RPGame Live is a real-time-esque text based RPG for Discord.</h4>
        <dl>
            <dt>Players will be able to interact with events, earn rewards, and participate in a dynamic world.</dt>
            <dd>
                <ul class="text-indent">
                    A text-based RPG system for questing, crafting, and player interaction. Team up for quests, build settlements, and grow the community.
                </ul>
                <ul><img src="images/DiscordGameExample_01.png" style="max-width:100%;height:auto;" alt="A screenshot of early discord gameplay testing." /></ul>
            </dd> 
            <dt>Want to learn more? </dt>
            <dd>
                <ul class="text-indent">
                    <a href="/getting_started">Get started here!</a>
                </ul>
            </dd> 
        </dl>
    </div>
</div>

