@page "/"

<div class="row">
    <div class="col-md-8">
        <h1>Welcome to Roleplay Game Live!</h1>
        <h4>RPGame Live is a multi-part, real-time-esque RPG with two main parts being developed: Part-Discord and Part-Streamed (currently Twitch).</h4>
        <dl>
            <dt>Part-Discord (Text-Based):</dt>
            <dd>
                <ul class="text-indent">
                    A text-based RPG system for questing, crafting, and player interaction. Team up for quests, build settlements, and grow the community.
                </ul>
            </dd> 
            <dt>Part-Streamed (Visual):</dt>
            <dd>
                <ul class="text-indent">
                    Visual boss fights and activities hosted by streamers. Watch battles play out and interact with chat during the action.
                </ul>
            </dd> 
            <dt>Want to learn more? </dt>
            <dd>
                <ul class="text-indent">
                    <a href="/getting_started">Get started here!</a>
                </ul>
            </dd> 
        </dl>
        <p>A more current proof of concept build:</p>
        <img src="images/CurrentMonogamePOC.png" style="max-width:100%;height:auto;" alt="Current Monogame Proof of Concept" />
    </div>
</div>

