@page "/p/{who}"
@inject HttpClient Http
@inject NavigationManager NavManager

@if (inList)
{
    @foreach (var pfile in profile)
    {
        <h1 style="text-align:center">Welcome to the profile of @pfile.DisplayName</h1>
        @foreach(var link in pfile.Links)
        {
            @if(link.ButtonText!="")
            {
                <a href="@link.LinksTo" class="btn btn-profile">@link.ButtonText</a>
            }
        }
    }
}
@code 
{
    [Parameter]
    public string who { get; set; }
    private List<Profile> profile = new List<Profile>();
    private Profiles[] profiles;
    private bool inList = false;

    protected override async Task OnInitializedAsync()
    {
        if (who != string.Empty)
        {
            try
            {
                profile = new List<Profile>(await Http.GetFromJsonAsync<List<Profile>>("profiles/" + who.ToLower() + ".json"));
                inList = true;
            }
            catch (Exception notFound)
            {
                inList = false;
                try
                {
                    profiles = await Http.GetFromJsonAsync<Profiles[]>("profiles/FullDisplayProfiles.json");
                }
                catch (Exception notFoundTwo) { }
            }
        }
        if(!inList)
        {
            NavManager.NavigateTo("/profiles");
        }
    }
    public partial class Profile
    {
        public string UserName { get; set; }
        public string DisplayName { get; set; }
        public List<Link> Links { get; set; }
        public List<ShortLink> ShortLinks { get; set; }
    }
    public partial class Link
    {
        public string Name { get; set; }
        public string ButtonText { get; set; }
        public string LinksTo { get; set; }
    }
    public partial class ShortLink
    {
        public string Name { get; set; }
        public Uri MainUrl { get; set; }
        public string ShortUrl { get; set; }
        public string ListOnPage { get; set; }
    }
    public class Profiles
    {
        public string User { get; set; }
        public string ListOnPage { get; set;  }
    }
}

