@page "/profiles"
@inject HttpClient Http
@inject NavigationManager NavManager

@if (profiles != null)
{
   <h1 style="text-align:center">Available Profiles</h1>
    @foreach (var pfile in profiles)
    {
        @if(pfile.ListOnPage == "true" || pfile.ListOnPage == "True" || pfile.ListOnPage == "TRUE")
       {
           <a href="p/@pfile.User" class="btn btn-profile">@pfile.User</a>
       }
    }
}
@code 
{
    private ProfileList[] profiles;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            profiles = await Http.GetFromJsonAsync<ProfileList[]>("profiles/FullDisplayProfiles.json");
        }
        catch(Exception notFound)
        {
            Console.Out.WriteLine("Not found when attempting to read from full display profiles");
            Console.Out.WriteLine(notFound);
        }
    }
    public class ProfileList
    {
        public string User { get; set; }
        public string ListOnPage { get; set;  }
    }
}
